{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block page_title %}{% trans 'Cart' %}{% endblock page_title %}
{% block page_Breadcrumb %}{% trans 'Cart' %}{% endblock page_Breadcrumb %}

{% block content %}

    <div class="main-content-wrapper">
        <div class="page-content-inner ptb--80">
            <div class="container">
                <div class="row">

                    <!-- Cart Items -->
                    <div class="col-lg-8 mb-md--50">
                        {% if cart %}
                            <div class="table-content table-responsive">
                                <table class="table" style="direction: rtl; text-align: center">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th style="font-size: large">{% trans 'Product' %}</th>
                                        <th style="font-size: large">{% trans 'Price' %}</th>
                                        <th style="font-size: large">{% trans 'Quantity' %}</th>
                                        <th style="font-size: large">{% trans 'Total' %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in cart %}
                                        <tr>
                                            <td class="product-remove">
                                                <a href="{% url 'cart:cart_remove' item.product_obj.id %}"><i
                                                        class="flaticon flaticon-cross"></i></a>
                                            </td>
                                            <td class="product-thumbnail">
                                                <img src="{{ item.product_obj.cover.url }}"
                                                     alt="{{ item.product_obj.title }}" style="max-width: 70px;">
                                            </td>
                                            <td class="product-name">
                                                <h3 style="margin: 0; font-size: 14px; font-family: RastinPlus, sans-serif">
                                                    <a href="{% url 'products:product_detail' item.product_obj.id %}">{{ item.product_obj.title }}</a>
                                                </h3>
                                            </td>
                                            <td class="product-price">{{ item.product_obj.price }} {% trans 'Toman' %}</td>
                                            <td class="product-quantity">
                                                <form action="{% url 'cart:cart_add' item.product_obj.id %}"
                                                      method="POST">
                                                    {% csrf_token %}
                                                    <div class="quantity">
                                                        <input type="number" class="quantity-input" name="quantity"
                                                               value="{{ item.quantity }}" min="1">
                                                        {{ item.product_update_quantity_form.inplace }}
                                                    </div>
                                                    <button style="font-size: small"
                                                            type="submit">{% trans 'Update' %}</button>
                                                </form>
                                            </td>
                                            <td class="product-total-price">{{ item.total_price }} {% trans 'Toman' %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <div class="row g-0 border-top pt--20 mt--20">
                                <div class="col-sm-6 text-sm-end" style="width: fit-content">
                                    <a href="{% url 'products:product_list' %}">
                                        <input type="submit" value="{% trans 'Products List' %}"
                                               class="btn btn-submit btn-style-1"
                                               style="font-family: RastinPlus, sans-serif;">
                                    </a>
                                    <form action="{% url 'cart:cart_clear' %}" method="POST" style="display: inline">
                                        {% csrf_token %}
                                        <input type="submit" value="{% trans 'Clear Cart' %}"
                                               class="btn btn-submit btn-style-1"
                                               style="font-family: RastinPlus, sans-serif;">
                                    </form>
                                </div>
                            </div>
                        {% else %}
                            <p style="direction: rtl;font-size: x-large; float: right">{% trans 'The Cart is empty!' %}</p>
                            <a href="{% url 'products:product_list' %}">
                                <input type="submit" value="{% trans 'Products List' %}"
                                       class="btn btn-submit btn-style-1" style="font-family: RastinPlus, sans-serif;">
                            </a>
                        {% endif %}
                    </div>

                    <!-- Cart Totals -->
                    <div class="col-lg-4">
                        <div class="cart-collaterals">
                            <div class="cart-totals">
                                <h5 class="font-size-14 font-bold mb--15"
                                    style="text-align: center; font-size: large; font-family: RastinPlus, sans-serif">{% trans 'Cart totals' %}</h5>
                                <hr>
                                <div class="cart-calculator" style="direction: rtl">

                                    <!-- Products Total -->
                                    <div class="cart-calculator__item">
                                        <div class="cart-calculator__item--head">{% trans 'Product prices' %} :</div>
                                        <div class="cart-calculator__item--value">{{ products_total }} {% trans 'Toman' %}</div>
                                    </div>

                                    <!-- Shipping -->
                                    <div class="cart-calculator__item">
                                        <div class="cart-calculator__item--head">{% trans 'Shipping' %} :</div>
                                        <div class="cart-calculator__item--value">
                                            {% if shipping_cost %}
                                                {{ shipping_cost }} {% trans 'Toman' %}
                                            {% else %}
                                                {% trans 'Free' %}
                                            {% endif %}
                                        </div>
                                    </div>

                                    <!-- Coupon Form -->
                                    <div class="coupon" style="margin-top: 15px; text-align: center;">
                                        <form method="POST" action="{% url 'cart:apply_coupon' %}"
                                              style="display: inline-block;">
                                            {% csrf_token %}
                                            <input type="text" name="code"
                                                   placeholder="{% trans 'Coupon Code' %}"
                                                   class="cart-form__input"
                                                   style="width: 55%; text-align: center; font-size: medium;">
                                            <button type="submit"
                                                    class="btn btn-small btn-no-bg btn-color-white btn-hover-2"
                                                    style="font-size: medium; color: green; margin-right: 11%;">
                                                {% trans 'Apply discount code' %}
                                            </button>
                                        </form>
                                    </div>

                                    <!-- Discount Display -->
                                    {% if coupon_value %}
                                        <div class="cart-calculator__item" style="margin-top: 10px;">
                                            <div class="cart-calculator__item--head">{% trans 'Discount Value' %} :
                                            </div>
                                            <div class="cart-calculator__item--value" style="color: green;">
                                                {{ coupon_display }}
                                            </div>
                                        </div>
                                    {% endif %}


                                    <!-- Total -->
                                    <div class="cart-calculator__item order-total" style="margin-top: 5%">
                                        <div class="cart-calculator__item--head">{% trans 'Total' %} :</div>
                                        <div class="cart-calculator__item--value">{{ total }} {% trans 'Toman' %}</div>
                                    </div>

                                </div>
                            </div>

                            <div class="form__group" style="text-align: center; margin-top: 10%">
                                <a href="checkout.html">
                                    <input type="submit" value="{% trans 'Proceed To Checkout' %}"
                                           class="btn btn-submit btn-style-1"
                                           style="font-family: RastinPlus, sans-serif;">
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock content %}
