{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block page_title %}| {% trans 'Edit Profile' %}{% endblock page_title %}
{% block page_Breadcrumb %}{% trans 'Account' %}{% endblock page_Breadcrumb %}

{% block content %}
<div class="main-content-wrapper">
    <div class="page-content-inner pt--75 pb--80">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="margin:0 auto; direction: rtl">
                    <div class="register-box">
                        <h2 style="font-family: RastinPlus, sans-serif">{% trans 'Edit Your Profile' %} :</h2>
                        <form action="" method="post" style="margin-top: 3rem">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="form__group" style="text-align:center;">
                                <input style="font-family: RastinPlus, sans-serif" type="submit" value="{% trans 'Save Changes' %}" class="btn btn-submit btn-style-1">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
