{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block page_title %}{% trans 'Logout Confirmation' %}{% endblock page_title %}

{% block content %}

    <!-- Breadcrumb area Start -->
    <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6" style="text-align: right">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div style="text-align:center;">
                        <h1 class="page-title" style="margin: 0 auto">{% trans 'Account' %}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area End -->

    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
        <div class="page-content-inner pt--75 pb--80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="margin: 0 auto">
                        <div class="register-box" style="text-align:center;">
                            <h2>{% trans 'Are you sure you want to logout?' %}</h2>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <div class="form__group" style="margin-top:20px;">
                                    <input type="submit" value="{% trans 'Logout' %}"
                                           class="btn btn-submit btn-style-1">
                                </div>
                            </form>
                            <div style="margin-top:15px; font-size: x-large">
                                <a href="{% url 'user_profile' %}">{% trans 'Cancel' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper End -->

{% endblock content %}
