{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block page_title %}{% trans 'Profile' %}{% endblock page_title %}
{% block page_Breadcrumb %}{% trans 'Account' %}{% endblock page_Breadcrumb %}

{% block content %}

    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
        <div class="page-content-inner ptb--80">
            <div class="container" style="direction: rtl">
                <div class="row">
                    <div class="col-12">
                        <div class="user-dashboard-tab flex-column flex-md-row">
                            <div class="user-dashboard-tab__head nav flex-md-column" role="tablist"
                                 aria-orientation="vertical" style="margin-left: 5%; font-size: large">
                                <button type="button" class="nav-link active" data-bs-toggle="tab" role="tab"
                                        data-bs-target="#dashboard" aria-controls="dashboard" aria-selected="true">
                                    {% trans 'Dashboard' %}
                                </button>
                                <a class="nav-link" href="{% url 'logout_confirm' %}">{% trans 'Logout' %}</a>
                            </div>

                            <div class="user-dashboard-tab__content tab-content">
                                <div class="tab-pane fade show active" id="dashboard">
                                    <h1 class="title" style="font-family: RastinPlus, sans-serif">{% trans 'Hello' %}
                                        <strong>{{ user_profile.name }}</strong> {% trans ' Dear' %}
                                        &ensp;<i class="fa fa-heart-o" style="color: red"></i>
                                    </h1>
                                    <p style="color: #E91E63">* {% trans 'Please check the following specifications carefully to avoid any problems with product delivery.' %}</p>
                                    <br>

                                    <h1 class="title"
                                        style="font-family: RastinPlus, sans-serif">{% trans 'Customer informations' %}</h1>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" style="font-size: large">
                                            {% trans 'Name' %} : {{ user_profile.name }}
                                        </li>
                                        <li class="list-group-item">
                                            {% trans 'Lastname' %} : {{ user_profile.lastname }}
                                        </li>
                                        <li class="list-group-item">
                                            {% trans 'Phonenumber' %} : {{ user_profile.username }}
                                        </li>
                                        <li class="list-group-item">
                                            {% trans 'province' %} : {{ user_profile.province }}<br>
                                            {% trans 'city' %} : {{ user_profile.city }}<br>
                                            {% trans 'Adress' %} : {{ user_profile.address }}
                                        </li>
                                        <li class="list-group-item">
                                            {% trans 'postalcode' %} : {{ user_profile.postal_code }}
                                        </li>
                                    </ul>
                                </div>
                                <br>
                                <a href="{% url 'edit_profile' %}">{% trans 'edit your account details' %}</a>
                                <div class="tab-pane fade" id="orders">
                                    <div class="message-box mb--30 d-none">
                                        <p><i class="fa fa-check-circle"></i>No order has been made yet.</p>
                                        <a href="shop.html">Go Shop</a>
                                    </div>
                                    <div class="table-content table-responsive">
                                        <table class="table text-center">
                                            <thead>
                                            <tr>
                                                <th>Order</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                                <th>Total</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td class="wide-column">September 19, 2023</td>
                                                <td>Processing</td>
                                                <td class="wide-column">$49.00 for 1 item</td>
                                                <td><a href="product-details.html"
                                                       class="btn btn-small btn-bg-red btn-color-white btn-hover-2">View</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td class="wide-column">September 19, 2023</td>
                                                <td>Processing</td>
                                                <td class="wide-column">$49.00 for 1 item</td>
                                                <td><a href="product-details.html"
                                                       class="btn btn-small btn-bg-red btn-color-white btn-hover-2">View</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper Start -->

{% endblock content %}
