{% extends '_base.html' %}
{% load jformat %}
{% load static %}
{% load i18n %}

{% block page_title %}| {% trans 'Blog' %}{% endblock page_title %}
{% block page_Breadcrumb %}{% trans 'Blog' %}{% endblock page_Breadcrumb %}

{% block content %}

    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper" style="direction: rtl">
        <div class="page-content-inner blog-page-sidebar ptb--80">
            <div class="container">
                <!-- تغییر این بخش -->
                <div class="d-flex flex-row flex-nowrap overflow-auto">
                    {% for blog in blogs %}
                        <div class="p-2" style="min-width: 250px; margin-right: 2rem">
                            <article class="blog blog-style-2">
                                <div class="blog-media">
                                    <figure class="image">
                                        <a href="{% url 'blog_detail' blog.id %}">
                                            <img src="{{ blog.image.url }}" alt="Blog" class="img-fluid">
                                        </a>
                                    </figure>
                                </div>
                                <div class="blog-info">
                                    <h3 class="blog-title" style="font-family: RastinPlus, sans-serif">
                                        <a href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a>
                                    </h3>
                                    <div class="blog-meta">
                                        <div style="width: 70%">
                                            <p style="text-align: right">
                                                {% trans 'datetime created' %}
                                                : {{ blog.datetime_created|jformat:"%Y/%m/%d" }}
                                            </p>
                                        </div>
                                        <br>
                                        <a href="{% url 'blog_detail' blog.id %}" class="btn btn-no-bg btn-color-dark">
                                            {% trans 'Read more' %}
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>

                {% if is_paginated %}
                    <nav class="pagination-wrap">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.previous_page_number }}"
                                       class="prev page-number">
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                            <span class="prev page-number"><i
                                                    class="fa fa-angle-double-right"></i></span>
                                </li>
                            {% endif %}

                            {% for num in paginator.page_range %}
                                {% if num >= page_obj.number|add:"-2" and num <= page_obj.number|add:"2" %}
                                    {% if num == page_obj.number %}
                                        <li class="page-item active">
                                            <span class="current page-number">{{ num }}</span>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a href="?page={{ num }}" class="page-number">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.next_page_number }}" class="next page-number">
                                        <i class="fa fa-angle-double-left"></i>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                            <span class="next page-number"><i
                                                    class="fa fa-angle-double-left"></i></span>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}

            </div>
        </div>
    </div>
    <!-- Main Content Wrapper End -->

{% endblock content %}