{% extends '_base.html' %}
{% load static %}
{% load jformat %}
{% load i18n %}

{% block page_title %}{% trans 'Blog' %}{% endblock page_title %}
{% block page_Breadcrumb %}{% trans 'Blog' %}{% endblock page_Breadcrumb %}

{% block content %}

    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
        <div class="page-content-inner ptb--80">
            <div class="container">
                <div class="row mb--75">
                    <div class="col-lg-8 col-xl-9 mb-md--50">
                        <div class="single-post">
                            <!-- Single Blog Start Here -->
                            <article class="single-post-details">
                                <div class="jumbotron jumbotron-fluid">
                                    <div class="container d-flex justify-content-between align-items-center"
                                         style="direction: rtl;">
                                        <div class="text-right">
                                            <h1 class="display-4 mb-2" style="font-family: RastinPlus, sans-serif">
                                                {{ blog.title }}
                                            </h1>
                                            <p class="lead mb-1" style="font-size: medium;">
                                                {% trans 'Date created' %}
                                                : {{ blog.datetime_created|jformat:"%Y/%m/%d" }}
                                            </p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="entry-media text-center my-3">
                                        <div class="image">
                                            <img src="{{ blog.image.url }}" alt="{{ blog.title }}"
                                                 class="img-fluid rounded">
                                        </div>
                                    </div>

                                    <div class="entry-content"
                                         style="text-align: justify; direction: rtl; margin-top: 5rem">
                                        {{ blog.text|safe }}
                                    </div>
                                    <hr>
                                    <div class="text-right" style="text-align: right">
                                        <p class="lead mb-1" style="font-size: medium;">
                                            {% trans 'Author' %} : {{ blog.author }}
                                        </p>
                                        {% if blog.datetime_modified|jformat:"%Y/%m/%d - %H:%M" != blog.datetime_created|jformat:"%Y/%m/%d - %H:%M" %}
                                            <p class="lead mb-1" style="font-size: medium;">
                                                {% trans 'Last edited date' %}
                                                : {{ blog.datetime_modified|jformat:"%Y/%m/%d - %H:%M" }}
                                            </p>
                                        {% endif %}
                                        <p class="lead mb-1" style="font-size: medium;">
                                            <a href="{{ blog.source_link }}">
                                                {% trans 'Source' %} : {{ blog.source }} <i class="fa fa-link"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </article>

                            <!-- Single Blog End Here -->
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="sidebar-inner">
                            <div class="widget blog-widget widget-recent-posts mb--40">
                                <h3 style="text-align: right; font-family: RastinPlus, sans-serif">
                                    {% trans 'Recent Post' %}
                                </h3>
                                <hr>
                                <div class="recent-post"
                                     style="text-align: right; direction: rtl; margin-bottom: 15px;">
                                    {% if all_blogs %}
                                        {% for blog in latest_blogs %}
                                            <div class="recent-post__item d-flex justify-content-between align-items-center">
                                                <div class="recent-post__thumb" style="margin-left: 20px">
                                                    <a href="{% url 'blog_detail' blog.id %}">
                                                        <img src="{{ blog.image.url }}" alt="Blog"
                                                             class="img-fluid rounded" style="max-width: 80px;">
                                                    </a>
                                                </div>

                                                <div class="recent-post__content">
                                                    <h3 class="recent-post__title text-truncate mb-1">
                                                        <a style="font-family: RastinPlus, sans-serif"
                                                           href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a>
                                                    </h3>
                                                    <span class="recent-post__meta" style="direction: rtl">
                                                        {% trans 'datetime created' %} : {{ blog.datetime_created|jformat:"%Y/%m/%d" }}
                                                    </span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper Start -->

{% endblock content %}