{% extends '_base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}{% trans 'Contact us' %}{% endblock page_title %}

{% block content %}

    <!-- Breadcrumb area Start -->
    <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6" style="text-align: right">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                        <h1 class="page-title" style="margin: 0 auto">{% trans 'Contact us' %}</h1>
                        <ul class="breadcrumb">
                            <li class="current"><span>{% trans 'Contact us' %}</span></li>
                            <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area End -->

    <!-- Main Content Wrapper Start -->
    <div id="content" class="main-content-wrapper">
        <div class="page-content-inner pt--75">
            <div class="container">
                <div class="row pb--80">
                    <div class="col-md-7 mb-sm--30">
                        <h2 class="heading__secondary mb--50 mb-md--35 mb-sm--20">{% trans 'Send message' %}</h2>

                        <!-- Contact form Start Here -->
                        <form class="form" action="mail.php" id="contact-form">
                            <div class="form__group mb--20">
                                <label for="contact_name"></label>
                                <input type="text" id="contact_name" name="contact_name"
                                                                         class="form__input form__input--2" placeholder="Your name*">
                            </div>
                            <div class="form__group mb--20">
                                <label for="contact_email"></label>
                                <input type="email" id="contact_email" name="contact_email"
                                                                          class="form__input form__input--2" placeholder="Email Address*">
                            </div>
                            <div class="form__group mb--20">
                                <label for="contact_phone"></label>
                                <input type="text" id="contact_phone" name="contact_phone"
                                                                          class="form__input form__input--2" placeholder="Your Phone*">
                            </div>
                            <div class="form__group mb--20">
                                <label for="contact_message"></label>
                                <textarea class="form__input form__input--textarea" id="contact_message"
                                                                               name="contact_message" placeholder="Message*"></textarea>
                            </div>
                            <div class="form__group">
                                <button type="submut" class="btn-submit">Send Now</button>
                            </div>
                            <div class="form__output"></div>
                        </form>
                        <!-- Contact form end Here -->

                    </div>
                    <div class="col-md-5 pl--50 pl-sm--30">
                        <h2 class="heading__secondary mb--50">{% trans 'Contact info' %}</h2>

                        <!-- Contact info widget start here -->
                        <div class="contact-info-widget mb--45">
                            <div class="contact-info">
                                <h3 class="heading__tertiary">Postal Address</h3>
                                <p>You address goes here <br> 221B Baker Street</p>
                            </div>
                        </div>
                        <!-- Contact info widget end here -->

                        <!-- Contact info widget start here -->
                        <div class="contact-info-widget mb--45">
                            <div class="contact-info">
                                <h3 class="heading__tertiary">Zakas HQ</h3>
                                <p>You address goes here <br> 221B Baker Street</p>
                            </div>
                        </div>
                        <!-- Contact info widget end here -->

                        <!-- Contact info widget start here -->
                        <div class="contact-info-widget two-column-list sm-one-column mb--45">
                            <div class="contact-info mb-sm--35">
                                <h3 class="heading__tertiary">Business Phone</h3>
                                <a href="">+01 2 345 6789</a>
                            </div>
                            <div class="contact-info">
                                <h3 class="heading__tertiary">Say Hello</h3>
                                <a href="mailto:demo@example.com">demo@example.com</a>
                            </div>
                        </div>
                        <!-- Contact info widget end here -->

                        <!-- Social Icons Start Here -->
                        <ul class="social social-sharing">
                            <li class="social__item">
                                <a href="https://twitter.com" target="_blank" rel="noopener"
                                   class="social__link twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="social__item">
                                <a href="https://plus.google.com" target="_blank" rel="noopener"
                                   class="social__link google-plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li class="social__item">
                                <a href="https://facebook.com" target="_blank" rel="noopener"
                                   class="social__link facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="social__item">
                                <a href="https://instagram.com" target="_blank" rel="noopener"
                                   class="social__link instagram">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- Social Icons End Here -->
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-12">
                        <iframe class="map-size"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.693667617067!2d144.946279515845!3d-37.82064364221098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4cee0cec83%3A0xd019c5f69915a4a0!2sCollins%20St%2C%20West%20Melbourne%20VIC%203003%2C%20Australia!5e0!3m2!1sen!2sbd!4v1607512676761!5m2!1sen!2sbd">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper Start -->


{% endblock content %}