{% load static %}
{% load i18n %}
{% load persian_price %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="keywords"
          content="لباس زنانه، پوشاک زنانه، فروشگاه لباس آنلاین، طراحی لباس، مد و فشن، مزون آنلاین، لباس مجلسی زنانه، مانتو شیک، پیراهن زنانه، ست لباس زنانه، طراحی مد، لباس روزمره زنانه، کت و دامن زنانه، تاپ و بلوز زنانه، استایل زنانه، اکسسوری مد، لباس فصلی زنانه">

    <title>ANAHITA SABZ {% block page_title %}{% endblock page_title %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'img/logo/Logo_no_bg_100x90.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/logo/Logo_no_bg_100x90.png' %}">

    <!-- ************************* CSS Files ************************* -->

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">

    <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body>


<!-- Preloader Start -->
<div class="zakas-preloader active">
    <div class="zakas-preloader-inner h-100 d-flex align-items-center justify-content-center">
        <div class="zakas-child zakas-bounce1"></div>
        <div class="zakas-child zakas-bounce2"></div>
        <div class="zakas-child zuka-bounce3"></div>
    </div>
</div>
<!-- Preloader End -->

<!-- Main Wrapper Start -->
<div class="wrapper">
    <!-- Header Start -->
    <header class="header header-transparent">
        <div class="header-inner fixed-header" style="height: max-content">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-10 col-lg-9 col-3">
                        <nav class="main-navigation">
                            <div class="site-branding">
                                <a href="{% url 'home' %}" class="logo">
                                    <figure class="logo--transparent">
                                        <img src="{% static 'img/logo/Logo_no_bg_100x90.png' %}" alt="Logo">
                                    </figure>
                                    <figure class="logo--normal">
                                        <img src="{% static 'img/logo/Logo_no_bg_100x90.png' %}" alt="Logo">
                                    </figure>
                                </a>
                            </div>
                            <div class="mainmenu-nav d-none d-lg-block">
                                <ul class="mainmenu">
                                    <li class="mainmenu__item {% if request.resolver_match.url_name == 'contact_us' %}active{% endif %}">
                                        <a href="{% url 'contact_us' %}" class="mainmenu__link">
                                            <span class="mm-text">{% trans 'Contact Us' %}</span>
                                        </a>
                                    </li>

                                    <li class="mainmenu__item {% if request.resolver_match.url_name == 'blog_list' %}active{% endif %}">
                                        <a href="{% url 'blog_list' %}" class="mainmenu__link">
                                            <span class="mm-text">{% trans 'Blog' %}</span>
                                        </a>
                                    </li>

                                    <li class="mainmenu__item {% if request.resolver_match.namespace == 'products' and request.resolver_match.url_name == 'product_list' %}active{% endif %}">
                                        <a href="{% url 'products:product_list' %}" class="mainmenu__link">
                                            <span class="mm-text">{% trans 'Products' %}</span>
                                        </a>
                                    </li>

                                    <li class="mainmenu__item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                                        <a href="{% url 'home' %}" class="mainmenu__link">
                                            <span style="margin-right: 2rem; text-align: center"
                                                  class="mm-text">{% trans 'Home' %}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-9 col-2" style="text-align: center; width: fit-content">
                        <ul class="header-toolbar">
                            <li class="header-toolbar__item mini-cart-item">
                                <a href="#miniCart" class="header-toolbar__btn toolbar-btn mini-cart-btn">
                                    <i class="flaticon flaticon-shopping-cart"></i>
                                    <sup class="mini-cart-count"
                                         style="background-color: #C2080F">{{ cart_item_count }}</sup>
                                </a>
                            </li>
                            <li class="header-toolbar__item user-info">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'accounts:user_profile' %}" class="header-toolbar__btn">
                                        <i class="flaticon flaticon-user"></i>
                                    </a>
                                {% else %}
                                    <a href="{% url 'accounts:login' %}" class="header-toolbar__btn">
                                        <i class="flaticon flaticon-user"></i>
                                    </a>
                                {% endif %}
                            </li>
                            <li class="header-toolbar__item">
                                <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                                    <i class="flaticon flaticon-search"></i>
                                </a>
                            </li>
                            <li class="header-toolbar__item d-lg-none">
                                <a href="#" class="header-toolbar__btn menu-btn">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb area Start -->
    {% if request.path != '/' %}
        <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6"
             style="background-image: url({% static 'img/home/page_Breadcrumb_wallpaper.jpg' %});
                     background-size: cover; margin-top: 15rem">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                            <h3 class="page-title" style="margin: 0 auto; font-family: RastinPlus, sans-serif">
                                {% block page_Breadcrumb %}{% endblock page_Breadcrumb %}
                            </h3>
                        </div>
                        {% if messages %}
                            <div class="container">
                                {% for message in messages %}
                                    <div style="direction: rtl; text-align: right"
                                         class="alert alert-{{ message.tags }}">{{ message }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Breadcrumb area End -->

    <!-- Content -->
    {% block content %}
    {% endblock content %}
    <!-- /Content -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-top ptb--50">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9 text-center">
                        <div class="footer-widget mb--50">
                            <div class="textwidget">
                                <img src="{% static 'img/footer/Logo_file-removebg_11zon.png' %}" alt="Logo">
                            </div>
                        </div>
                        <div class="footer-widget">
                            <!-- Social Icons Start Here -->
                            <ul class="social" style="margin-top: 5%">
                                <li class="social__item">
                                    <a target="_blank" href="https://www.instagram.com/anahitasabz" rel="noopener"
                                       class="social__link instagram">
                                        <span style="font-size: large">{% trans 'Instagram' %}</span>
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a target="_blank" href="https://api.whatsapp.com/send?phone=+989101934120"
                                       rel="noopener"
                                       class="social__link whatsapp">
                                        <span style="font-size: large">{% trans 'Whatsapp' %}</span>
                                        <i class="fa fa-whatsapp"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a target="_blank" href="https://t.me/mhdi_dev" rel="noopener"
                                       class="social__link telegram">
                                        <span style="font-size: large">{% trans 'Telegram' %}</span>
                                        <i class="fa fa-telegram"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- Social Icons End Here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom border-top ptb--25">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-6 text-sm-start text-center mb-xs--10">
                        <p class="copyright-text">&copy; AnahitaSabz Shop 2025 | Made With <i class="fa fa-heart"></i>
                            by <a
                                    href="https://patronuscode.com/" target="_blank" rel="noopener">PATRONUS CODE</a>
                        </p>
                    </div>
                    <div class="col-sm-6 text-sm-end text-center">
                        <figure>
                            <img src="{% static 'img/footer/payment_method-removebg-preview_11zon.png' %}"
                                 alt="payment">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /FOOTER -->

    <!-- Searchform Popup Start -->
    <div class="searchform__popup" id="searchForm" style="direction: rtl">
        <a href="#" class="btn-close"><i class="flaticon flaticon-cross"></i></a>
        <div class="searchform__body">
            <p>{% trans 'Search' %}</p>
            <form class="searchform" method="get" action="{% url 'products:user_search' %}">
                <label for="popup-search"></label>
                <input type="text" name="q" id="popup-search" class="searchform__input"
                       placeholder="{% trans 'Search Entire Store...' %}">
                <button type="submit" class="searchform__submit">
                    <i class="flaticon flaticon-magnifying-glass-icon"></i>
                </button>
            </form>
        </div>
    </div>
    <!-- Searchform Popup End -->


    <!-- Mini Cart Start -->
    <aside class="mini-cart" id="miniCart">
        <div class="mini-cart-wrapper">
            <button type="button" class="btn-close"><i class="flaticon flaticon-cross"></i></button>
            <div class="mini-cart-inner">
                <h3 class="mini-cart__heading mb--40 mb-lg--30"
                    style="font-family: RastinPlus, sans-serif; text-align: center; direction: rtl; margin-bottom: 5rem">
                    {% trans 'Cart' %}
                </h3>
                <div class="mini-cart__content">
                    {% if cart %}
                        <ul class="mini-cart__list">
                            {% for item in cart %}
                                <li class="mini-cart__product" style="width: 90%">
                                    <!-- Remove button -->
                                    <a href="{% url 'cart:cart_remove' item.product_obj.id %}"
                                       class="remove-from-cart remove">
                                        <i class="flaticon flaticon-cross"></i>
                                    </a>
                                    <!-- Product image -->
                                    <div class="mini-cart__product__image">
                                        <img src="{{ item.product_obj.cover.url }}"
                                             alt="{{ item.product_obj.title }}">
                                    </div>
                                    <!-- Product info -->
                                    <div class="mini-cart__product__content">
                                        <a class="mini-cart__product__title"
                                           href="{% url 'products:product_detail' item.product_obj.id %}">
                                            {{ item.product_obj.title }}
                                        </a>
                                        <p class="mini-cart__product__quantity" style="display: inline">
                                            {{ item.quantity|price_fa }} x
                                        </p>
                                        <p class="mini-cart__product__quantity" style="display: inline; direction: rtl">
                                            {{ item.product_obj.price|price_fa }} {% trans 'Toman' %}
                                        </p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <!-- Subtotal -->

                        <!-- Buttons -->
                        <div class="form__group" style="text-align: center; margin-top: 5rem">
                            <a href="{% url 'cart:cart_detail' %}">
                                <input style="font-family: RastinPlus, sans-serif" type="submit"
                                       value="{% trans 'View Cart' %}"
                                       class="btn btn-submit btn-style-1">
                            </a>
                        </div>
                    {% else %}
                        <p style="text-align:center; direction: rtl">{% trans 'The Cart is empty!' %}</p>
                        <a href="{% url 'products:product_list' %}">
                            <p style="text-align:center; direction: rtl; margin-top: 5rem">{% trans 'View products' %}
                                ---></p>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </aside>
    <!-- Mini Cart End -->


    <!-- Global Overlay Start -->
    <div class="zakas-global-overlay"></div>
    <!-- Global Overlay End -->


</div>
<!-- Main Wrapper End -->


<!-- ************************* JS Files ************************* -->

<!-- jQuery JS -->
<script src="{% static 'js/vendor.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>
<script>
    document.addEventListener("scroll", function () {
        const header = document.querySelector(".header");
        if (window.scrollY > 50) {
            header.classList.add("scrolled");
        } else {
            header.classList.remove("scrolled");
        }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var hash = window.location.hash;
        if (hash) {
            var tabTrigger = document.querySelector('button[data-bs-target="' + hash + '"]');
            if (tabTrigger) {
                var tab = new bootstrap.Tab(tabTrigger);
                tab.show();
            }
        }
    });
</script>


</body>

</html>