{% extends '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block content %}

    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
        <!-- Slider area Start -->
        <section class="homepage-slider-wrapper mb--100">
            <div class="zakas-element-carousel homepage-slider nav-style-2 nav-vertical-center nav-space-100"
                 data-slick-options='{
            "arrows": true,
            "autoplay": true,
            "autoplaySpeed": 5000,
            "speed": 1000,
            "fade": false,
            "prevArrow": {"buttonClass": "slick-btn slick-prev", "iconClass": "fa fa-angle-double-left" },
            "nextArrow": {"buttonClass": "slick-btn slick-next", "iconClass": "fa fa-angle-double-right" }
        }'>
                <div class="item">
                    <div class="single-slide slider-height-2 bg-style d-flex align-items-center"
                         style="background-image: url({% static 'img/home/home_bg1.jpg' %});">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-6 col-lg-8">
                                    <div class="slider-content text-center">
                                        <h1 class="heading__primary color--white mb--30"
                                            style="font-family: RastinPlus, sans-serif">
                                    <span class="heading__primary--sub" data-animation="fadeInUp"
                                          data-duration=".4s" data-delay=".7s">
                                        Anahita Shop
                                    </span>
                                            <span class="heading__primary--main" data-animation="fadeInUp"
                                                  data-duration=".4s" data-delay="1s">
                                        Clothing-Brand 2025
                                    </span>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-slide slider-height-2 bg-style d-flex align-items-center"
                         style="background-image: url({% static 'img/home/home_bg2.jpg' %});">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-6 col-lg-8">
                                    <div class="slider-content text-center">
                                        <h1 class="heading__primary color--white mb--30"
                                            style="font-family: RastinPlus, sans-serif">
                                    <span class="heading__primary--sub" data-animation="fadeInUp"
                                          data-duration=".4s" data-delay=".7s">
                                        Anahita Shop
                                    </span>
                                            <span class="heading__primary--main" data-animation="fadeInUp"
                                                  data-duration=".4s" data-delay="1s">
                                                Clothing-Brand 2025
                                            </span>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Slider area End -->

        <!-- Banner Area Start -->
        <div class="banner-area mb--95 mb-sm--95">
            <div class="container-fluid p-0">
                <div class="row gutter-40">
                    <div class="col-md-4 mb-sm--50">
                        <div class="banner-box">
                            <div class="banner-inner banner-hover-2 banner-info-over-img banner-info-center">
                                <figure class="banner-image">
                                    <img src="{% static 'img/banner/banner-17.jpg' %}" alt="Banner">
                                </figure>
                                <div class="banner-info">
                                    <div class="banner-info--inner text-center">
                                        <p class="banner-title-1 color--white mb--20">{% trans 'Up Coming Discount' %}</p>
                                        <p class="banner-title-3 color--white mb--10">Black Crush</p>
                                        <a href="shop.html" class="btn btn-no-bg btn-color-white">Shop Now <i
                                                class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                                <a href="shop.html" class="banner-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-sm--50">
                        <div class="banner-box">
                            <div class="banner-inner banner-hover-2 banner-info-over-img banner-info-center">
                                <figure class="banner-image">
                                    <img src="{% static 'img/banner/banner-18.jpg' %}" alt="Banner">
                                </figure>
                                <div class="banner-info">
                                    <div class="banner-info--inner text-center">
                                        <p class="banner-title-1 color--white mb--20">Up Coming Discount</p>
                                        <p class="banner-title-3 color--white mb--10">Accessories You Want</p>
                                        <a href="shop.html" class="btn btn-no-bg btn-color-white">Shop Now <i
                                                class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                                <a href="shop.html" class="banner-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-sm--50">
                        <div class="banner-box">
                            <div class="banner-inner banner-hover-2 banner-info-over-img banner-info-center">
                                <figure class="banner-image">
                                    <img src="{% static 'img/banner/banner-19.jpg' %}" alt="Banner">
                                </figure>
                                <div class="banner-info">
                                    <div class="banner-info--inner text-center">
                                        <p class="banner-title-1 color--white mb--20">Up Coming Discount</p>
                                        <p class="banner-title-3 color--white mb--10">Deep Olive Scarf</p>
                                        <a href="shop.html" class="btn btn-no-bg btn-color-white">Shop Now <i
                                                class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                                <a href="shop.html" class="banner-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Area End -->

        <!-- Method area Start -->
        <section class="method-area mb--100 mb-sm--50">
            <div class="container">
                <div class="row gutter-75 gutter-xl-30">
                    <div class="col-md-4 mb-sm--50">
                        <div class="method-box-2 text-center pt--35 pb--30">
                            <h4>{% trans 'Replacement warranty' %}</h4>
                            <p>{% trans '7 days for free return' %}</p>
                            <i class="flaticon flaticon-two-circling-arrows"></i>
                        </div>
                    </div>
                    <div class="col-md-4 mb-sm--50">
                        <div class="method-box-2 text-center pt--35 pb--30">
                            <h4>{% trans 'Quality guarantee' %}</h4>
                            <p>{% trans 'Impressive design and clean stitching' %}</p>
                            <i class="flaticon flaticon-like"></i>
                        </div>
                    </div>
                    <div class="col-md-4 mb-sm--50">
                        <div class="method-box-2 text-center pt--35 pb--30">
                            <h4>{% trans 'Secure payment' %}</h4>
                            <p>{% trans 'Secure payment on Zarrinpal portal' %}</p>
                            <i class="fa fa-money"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Method area End -->

        <!-- Instagram Area Start -->
        <section class="instagram-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="instagram-feed">
                            <div class="instagram-feed-heading">
                                <a target="_blank" href="https://www.instagram.com/anahitasabz">
                                    <h1>{% trans 'Follow us on Instagram' %}</h1>
                                    @ ANAHITASABZ
                                </a>
                            </div>
                            <div class="row g-0">
                                <div class="col-md-2 col-4">
                                    <div class="instagram-item">
                                        <a class="instagram-image" href="#">
                                            <img src="assets/img/instagram/1.jpg" alt="Instagram Image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-4">
                                    <div class="instagram-item">
                                        <a class="instagram-image" href="#">
                                            <img src="assets/img/instagram/2.jpg" alt="Instagram Image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-4">
                                    <div class="instagram-item">
                                        <a class="instagram-image" href="#">
                                            <img src="assets/img/instagram/3.jpg" alt="Instagram Image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-4">
                                    <div class="instagram-item">
                                        <a class="instagram-image" href="#">
                                            <img src="assets/img/instagram/4.jpg" alt="Instagram Image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-4">
                                    <div class="instagram-item">
                                        <a class="instagram-image" href="#">
                                            <img src="assets/img/instagram/5.jpg" alt="Instagram Image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2 col-4">
                                    <div class="instagram-item">
                                        <a class="instagram-image" href="#">
                                            <img src="assets/img/instagram/6.jpg" alt="Instagram Image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Instagram Area End -->
    </div>
    <!-- Main Content Wrapper End -->

{% endblock content %}